/node_modules
/public/hot
/public/storage
/storage/*.key
/public/css/knowfox.css
/public/fonts/
/public/img/
/public/js/knowfox.js
/storage/debugbar/
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
